.messages
  .messages_content
    .messages_content__detail
      .messages_content__detail___name nobuaki
      .messages_content__detail___timestamp 2019-05-12 16:00:00 UTC
    .messages_content__message こんにちは



