* {
  box-sizing: border-box;
}

.notification {
  .notice {
    background-color: $light_blue;
    color: $white;
    text-align: center;
  }
  .alert {
    background-color: $alert_orange;
    color: $white;
    text-align: center;
  }
}

.chat-side {
  width: 300px;
  float: left;
  color: $white;
  .side-header {
    background-color: #253141;
    height: 98px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    color: $color-white;
    font-weight: bold;
    .icon {
      color: $white;
      font-size: 16px;
     }
 }
}
.user-menu {
  display: flex;
}
  
.icon{
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      color: $color-white;   
}

.groups {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
  color: $white;
}

.group {
  margin-bottom: 40px;
    &__name {
    font-size: 15px;
    margin-bottom: 5px;
    color: #fff;
    }
    &__message {
    font-size: 11px;
    color: #fff;
    }
}

.chat-main {
  width: calc(100vw - 300px);
  float: left;
}

.main-header {
  box-sizing: border-box;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eeeeee;
    &__edit-btn {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px  $color-base;
      color: $color-base;
    }
}

.current-group {
  font-size: 20px;
  color: #333;
  margin-top: 35px;
}

.member-list {
  display: flex;
  margin-top: 15px;
  font-size: 12px;
  color: $color-gray;
}

.messages {
  background-color: #FAFAFA;
  box-sizing: border-box;
  padding: 46px 40px 0;
  height: calc(100vh - 100px - 90px);
  overflow: scroll;
  .message {
    .upper-message {
      display: flex;
      &__user-name {
        color: #434a54;
        font-size: 16px;
        font-weight: bold;
      }
      &__date {
        color: #999;
        font-size: 12px;
        padding-left: 10px;
      }
    }
    .lower-message {
      margin-top: 10px;
      &__content {
        color: #434a54;
        font-size: 14px;
        margin-bottom: 40px;
      }
    }
  }
}

.form {
  background-color: #DDDDDD;
  box-sizing: border-box;
  height: 90px;
  padding: 20px 50px 20px 40px;
  &__message {
    border: none;
    float: left;
    height: 50px;
    width: calc(100% - 150px);
  }
  &__mask {
    background-color: $white;
    float: left;
    height: 50px;
    padding-right: 10px;
    &__image {
      font-size: 20px;
      line-height: 50px;
    }
    .hidden {
      display: none;
    }
  }
  &__submit {
    background-color: $light_blue;
    border: none;
    color: $white;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
  }
 }
 .icon-later {
  color: #333;
  font-size: 16px;
 }